<script>
	window.userTwitter = {{{ json twitter }}};
	window.userFacebook = {{{ json facebook }}};
	window.configuration = {{{ json configuration }}};
</script>

<div class="header-stripe">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Add yourself to {{ country }}, {{ facebook.displayName }}{{ twitter.displayName }}.</h1>
				<a href="/add-to-map/select-country">Back to choose country</a>
			</div>
		</div>
	</div>
</div>
<div class="country-stripe {{stripeClass}}">
	<div class="container">
		<div class="row country-name">
			<div class="col-xs-12">
				<h2>Which town or city are you nearest to?</h2>
			</div>
		</div>
	</div>
</div>


{{#each towns}}
	<div class="letter-stripe">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h3>Towns starting with {{ this.code }}</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row selection-stripe">
			<div class="col-xs-12">
				{{#each this.items }}
					<div class="big-list-text">
						<a href="/add-to-map/{{ this.code }}/{{ this.name }}/pin/">{{ this.name }}</a>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
{{/each}}

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			Page generated in {{ duration }}ms.
		</div>
	</div>
</div>
